.ButtonTask{
	font-size: 30px;
	color: #008080;
	text-align: center;
}
.ButtonBreathe{
	font-size: 30px;
	color: #008080;
}

.ButtonActivity{
	font-size: 30px;
	color: #008080;
}
.ButtonTextPoof{
	font-size: 30px;
	color: #008080;
}
.buttons{
	text-align: center;
}
