
.buttons{
	text-align: center;
}



.destress-buttons{
	font-size: 30px;
	color: #008080;
	padding:50px;
	border-radius: 50%;
}

#De-stress-button{
    padding: 100px; /*Large button, radius of 50% makes it a circle*/
    border-radius: 50%;
    color: #008080;
    font-size: 30px;
    
    
  

}

.task{
	padding: 100px;
	border-radius: 50%;
	color: #008080;
	font-size: 30px;
	
	

}

#destress-area{
    text-align:center;
	display: inline-block;
	position: absolute;
	left: 25%;

    
}
